# Base de datos
POSTGRES_USER=trayenco_user
POSTGRES_PASSWORD=cambiar_en_produccion
POSTGRES_DB=trayenco_db
POSTGRES_HOST=postgres
POSTGRES_PORT=5432

# Backend
PORT=3000
NODE_ENV=development
JWT_SECRET=cambiar_en_produccion_por_clave_segura
JWT_EXPIRES_IN=8h
CLIENT_URL=http://localhost:5173

# Frontend
VITE_API_URL=http://localhost:3000/api
VITE_SOCKET_URL=http://localhost:3000
